<div>
    <a href="{% url 'recipe_app:index' %}">MestariKokit</a>
    <a href="{% url 'recipe_app:recipes' %}">Reseptit</a>

    {% if user.is_authenticated %}
    <hr />
    <form action="{% url 'accounts:logout' %}" method='post'>
        {% csrf_token %}
        <button name='submit'>Kirjaudu ulos</button>
    </form>
    <a href="{% url 'recipe_app:profile' %}">{{ user.username }}</a> 
    {% else %}
    <a href="{% url 'accounts:login' %}">Kirjaudu</a>
    <a href="{% url 'accounts:register' %}">Rekisteröidy</a>
    {% endif %}
</div>
<h1>Tervetuloa kokeilemaan maailman parhaita reseptejä!</h1>

<form method="get" action="{% url 'recipe_app:index' %}">
    {{ form.query }}
    <button type="submit">Etsi reseptejä</button>
</form>

{% for result in results %}
    <p>{{ result.title }}</p>
{% endfor %}
<strong style="background-color:Tomato;"> Linkit hakutuloksiin</strong>