{% extends "recipe_app/base.html" %}

{% load static %}

<link
 rel="stylesheet"
 type="text/css"
 href="{% static 'accounts/css/bootstrap.css' %}"
/>

{% block page_header %}
<h1 class="display-4 text-center py-3">Tervetuloa kokeilemaan maailman parhaita reseptejä!</h1>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <p class="py-5">Täällä voit jakaa reseptejäsi ja inspiroitua myös muiden annoksista.</p>
        </div>
    </div>
</div>
{% endblock page_header %}

{% block  content %}

<div class="container py-5">
    <div class="row justify-content-center">
        <form class="col-12 col-md-8 col-lg-6 text-center" method="get" action="{% url 'recipe_app:index' %}">
            {{ form.query }}
            <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
        </form>
    </div>
    <div class="row justify-content-center py-5">
        <div class="col-12 col-md-8 col-lg-6">
            {% for result in results %}
            <p>{{ result.title }}</p>
            {% endfor %}
        </div>
    </div>
</div>

<style>
    .btn-primary {
        background-color: red; 
        border-color: red; 
    }

    .btn-primary i.bi-search {
        color: white; 
    }
</style>


{% comment %}
eevin hieno liila väri :D
border-color: rgb(110, 78, 143);
{% endcomment %}


<div class="container mt-5">
    <div class="row">
      <div class="col-sm-4">
        <h3>Column 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-4">
        <h3>Column 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-4">
        <h3>Column 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
    </div>
</div>



<strong style="background-color:Tomato;"> Linkit hakutuloksiin</strong>
{% endblock content %}











{% comment %} <div>
    <a href="{% url 'recipe_app:index' %}">MestariKokit</a>
    <a href="{% url 'recipe_app:recipes' %}">Reseptit</a>

    {% if user.is_authenticated %}
    <hr />
    <form action="{% url 'accounts:logout' %}" method='post'>
        {% csrf_token %}
        <button name='submit'>Kirjaudu ulos</button>
    </form>
    <a href="{% url 'recipe_app:profile' %}">{{ user.username }}</a> 
    {% else %}
    <a href="{% url 'accounts:login' %}">Kirjaudu</a>
    <a href="{% url 'accounts:register' %}">Rekisteröidy</a>
    {% endif %}
</div> {% endcomment %}