{% extends 'recipe_app/base.html' %}

{% block page_header %}
    <h1 class="text-center">{{ user.username }}</h1>
{% endblock page_header %}

{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <h2>Suosikkireseptit</h2>
                <div class="d-flex flex-wrap">
                    {% for favorite in user.favorites.all %}
                        <div class="recipe-item mr-3 mb-3">
                            <a href="{% url 'recipe_app:recipe_detail' favorite.id %}">
                                <span class="recipe-title">{{ favorite.title }}</span>
                                <img src="{{ favorite.image.url }}" alt="Kuva reseptistä" width="100" height="70">
                            </a>
                        </div>
                    {% empty %}
                        <p>Ei suosikkeja</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2>Omat reseptit</h2>
                <div class="d-flex flex-wrap">
                    {% for recipe in user.recipes.all %}
                        <div class="recipe-item mr-10 mb-3">
                            <a href="{% url 'recipe_app:recipe_detail' recipe.id %}">
                                <span class="recipe-title">{{ recipe.title }}</span>
                                <img src="{{ recipe.image.url }}" alt="Kuva reseptistä" width="100" height="70">
                            </a>
                            <div class="button-group">
                                <div class="mb-2">
                                    <a href="{% url 'recipe_app:edit_recipe' recipe.id %}" class="btn btn-warning btn-sm">Muokkaa reseptiä</a>
                                </div>
                                <a href="{% url 'recipe_app:delete_recipe' recipe.id %}" class="btn btn-danger btn-sm">Poista resepti</a>
                            </div>
                        </div>
                    {% empty %}
                        <p>Ei omia reseptejä</p>
                    {% endfor %}
                </div>
                <a href="{% url 'recipe_app:new_recipe' %}" class="btn btn-success btn-sm mt-3">Lisää resepti</a>
            </div>
        </div>
    </div>

    <style>
        .recipe-item {
            text-align: center;
        }

        .recipe-title {
            color: red; /* Set the color of the recipe title to red */
            display: block;
            margin-bottom: 5px;
        }

        .button-group {
            margin-top: 10px;
        }
    </style>
{% endblock content %}